@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    display: flex;
    margin-left: 43px;
    width: 292px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    text-align: center;
    margin-top: 39px;
    height: 12px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    display: flex;
    margin-left: 88px;
    width: 598px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    text-align: center;
    margin-top: 80px;
    height: 25px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    display: flex;
    margin-left: 105px;
    width: 716px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    text-align: center;
    margin-top: 96px;
    height: 29px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    display: flex;
    margin-left: 138px;
    width: 934px;
    align-items: center;
    flex-direction: column;
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    text-align: center;
    margin-top: 125px;
    height: 38px
  }
}